@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", serif;
}

.navbar {
  font-family: "Playfair Display", serif;
}

.custom-rounded {
  border-radius: 12px;
}

/* Custom background for hero section*/
.custom-bg {
  background-color: #209fb5;
}
/* Custom background for buttons*/
.custom-bg-2 {
  background-color: #8839ef;
}

.custom-bg-2:hover {
  background-color: #dc8a78;
}
.btn-outline-primary {
  border-color: #8839ef;
  color: #8839ef;
}

.btn-outline-primary:hover {
  background-color: #8839ef;
  border-color: #8839ef;
}
/* Custom sizing for image*/
img {
  width: 23rem;
}
/* Custom margins for between sections*/
.section-space {
  margin-top: 225px;
}
